// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:"../webfonts";


// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Admin Lte
@import '~admin-lte/dist/css/adminlte.css';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active{
    background-color: #78f88d !important;
    color: rgb(255,255,255) !important;
    font-style: italic;
    
}
